@font: Poppins;
@color1: #135B7C;
@color2 :#07bc83;
@color3: #3bbac2;
@color4: #21608c;
//
body {
    margin: 0;
    padding: 0;
    font-family: @font;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    // overflow-y: scroll !important;
}

.apBtn {
    height: 40px;
    border-radius: 8px;
    background-color: @color2;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 43px;
    padding-right: 43px;
    border: none;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
}

h1 {
    color: @color4 ;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 4px;
    text-overflow: initial;
    word-wrap: break-word;
}

h2 {
    font-weight: 200;
    margin: 0;
}

h3 {
    font-weight: 400;
    margin: 0;
}

h4 {
    color: @color3  !important;
    font-size: 44px !important;
    font-weight: 400 !important;
}

h5 {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

h6 {
    color: white;
    font-size: 18px;
    font-weight: 200;
}

h7 {
    color: white !important;
    font-size: 44px !important;
    font-weight: 400 !important;
}

.services {
    background-color: @color4;
}

.clients {
    background-color: @color4;
}

.footer {
    background: #F2F2F2;
    .input {
        border: none;
        outline: none;
        border-radius: 10px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 200;
        color: black;
        height: 50px;
    }
    .footer-icon {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        margin-left: 10px;
    }
    .footer-icon-up {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 30px;
        margin-top: 10px;
    }
    a:hover {
        // background: black;
        text-decoration: none;
    }
}

.counts {
    background: @color2;
}

.service {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.doctor {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 60px;
    border-radius: 10px;
    .img1:after {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        background: @color3;
        margin: auto;
        margin-top: 20px;
        visibility: visible;
    }
    .img2:after {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        background: @color1;
        margin: auto;
        margin-top: 20px;
        visibility: visible;
    }
    .img3:after {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        background: @color2;
        margin: auto;
        margin-top: 20px;
        visibility: visible;
    }
    &:hover {
        box-shadow: 0 4px 15px rgba(7, 42, 68, 0.1)
    }
}

.count {
    padding: 20px;
}

h4:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: @color3;
    margin-top: 8px;
    margin: auto !important;
    visibility: visible;
}

.call {
    color: @color3;
    font-size: 18px;
    font-weight: 400;
}

.sub-menu {
    color: black;
    font-size: 15px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    a {
        color: black;
        &.active {
            color: @color3;
        }
    }
    a:hover {
        text-decoration: none;
        color: @color3;
    }
}

.menu {
    background: #f2f2f2;
}

.cc {
    bottom: 0px;
    padding: 0;
    z-index: 0;
}

.box {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 5px;
    &.firstBox {
        background: @color3;
        opacity: 0.6;
    }
    &.secondBox {
        background: @color1;
        opacity: 0.6;
    }
    &.thirdBox {
        background: @color2;
        opacity: 0.6;
    }
}

.bl {
    border-left: 1px solid gray;
}

.close {
    font-size: 40px;
    color: @color2;
    display: none;
}

.logo {
    width: 60px;
    margin-top: -11px;
}

@media (max-width:481px) {
    .menu {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        // right: -100%;
        transition: 0.4s;
        .close {
            display: block;
        }
    }
    h1 {
        font-size: 18px;
    }
    .logo {
        width: 30px;
        margin-top: -2px;
    }
    .apBtn {
        margin: auto;
        margin-top: 10px;
    }
    .navBtn {
        margin-top: -8px;
        color: @color2;
    }
    .bl {
        border-left: 0px solid;
    }
}