body {
  margin: 0;
  padding: 0;
  /* font-family: Poppins; */
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18px;
  color:#303030;
}

a{
  color: #3bbac2;
  margin-right: 5px;
}
i{
  margin-right: 10px;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.row{
  margin: 0px !important;
}
.apBtn {
  height: 40px;
  border-radius: 8px;
  background-color: #767272;
  color: #f9f9f9;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 43px;
  padding-right: 43px;
  border: none;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}

.mob-request{
  display: none;
}

.request{
  padding: 10px 30px 15px 15px;
}

.footer-bottom{
  border-top: 6px solid #ffffff;
}

h1 {
  color: #21608c;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 4px;
  text-overflow: initial;
  word-wrap: break-word;
}
h2 {
  font-weight: 200;
  margin: 0;
}
h3 {
  font-weight: 400;
  margin: 0;
}
h4 {
  font-size: 44px !important;
  font-weight: 400 !important;
}
h5 {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
h6 {
  color: white;
  font-size: 18px;
  font-weight: 200;
}
h7 {
  color: white !important;
  font-size: 44px !important;
  font-weight: 400 !important;
}
.services {
  /* background-color: #0d5777; */
}
.clients {
  /* background-color: #21608c; */
}
.footer {
  background: #f2f2f2;
}
.input {
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 200;
  color: black;
  height: 50px;
}

.footer textarea {
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 200;
  color: black;
  height: 150px;
  padding: 15px;
}
.footer .footer-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
}
.footer .footer-icon-up {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  margin-top: 10px;
}
.footer a:hover {
  text-decoration: none;
}
.counts {
  background: #07bc83;
}
.service {
  background: #3ebd9c;
  height: 350px;
  padding: 20px;
}

.service h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
.service h6 {
  font-size: 18px;
  font-weight: 400;
}
.doctor {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-radius: 10px;
  background: #3ebd9c;
  height:335px;
}
.doctor .img1:after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: #ffffff;
  margin: auto;
  margin-top: 20px;
  visibility: visible;
}
.doctor .img2:after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: #135b7c;
  margin: auto;
  margin-top: 20px;
  visibility: visible;
}
.doctor .img3:after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: #07bc83;
  margin: auto;
  margin-top: 20px;
  visibility: visible;
}
.doctor:hover {
  box-shadow: 0 4px 15px rgba(7, 42, 68, 0.1);
}

.doctors {
  background: #3ebd9c;
  padding-bottom: 30px;
}

.contact {
  margin-top: 50px;
}
.count {
  padding: 20px;
}

.call {
  color: #3bbac2;
  font-size: 18px;
  font-weight: 400;
}
.sub-menu {
  color: black;
  font-size: 20px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.sub-menu a {
  color: black;
}
.sub-menu a.active {
  color: #3bbac2;
}
.sub-menu a:hover {
  text-decoration: none;
  color: #3bbac2;
}
.menu {
  background: #f2f2f2;
}
.cc {
  bottom: 0px;
  padding: 0;
  z-index: 0;
}
.box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
  line-height: 5px;
}
.box.firstBox {
  background: #3bbac2;
  opacity: 0.6;
}
.box.secondBox {
  background: #135b7c;
  opacity: 0.6;
}
.box.thirdBox {
  background: #07bc83;
  opacity: 0.6;
}
.bl {
  border-left: 1px solid #ffffff;
}
.close {
  font-size: 40px;
  color: #07bc83;
  display: none;
}
.logo {
  text-align: center;
}
.logo1 {
  width: 70px;
  height: 70px;
}
.about {
  background: #3ebd9c;
}
.about-content {
  text-align: center;
  color: white;
}
.title-logo {
  width: 170px;
  height: 30px;
}
.mobile-banner {
  display: none;
}
.mob-logo {
  display: none;
}
.tag-line {
  font-size: 16px;
  position: relative;
  bottom: 13px;
  right: 2px;
}
.cc{
  bottom: 460px;
}
.sec-pic{
  padding: 20px 140px;
  text-transform: capitalize;
  background: #00000033;
  bottom: 300px !important;
  left: 6%;
  right: auto;
}
.caption {
  position: absolute;
  right: 15%;
  bottom: 40%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
li{
  list-style-type: none;
}
.description{
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  border: none !important;
}
.book{
  float: right;
  margin: 18px;
}
.emergency-footer{
  background: url(/images/emergency.jpg) no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  padding-top: 26.04166666666667%;
  position: relative;
}
.note{
  position: absolute;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
}
.em-2{
  font-size: 45px;
  color: #3ebd9b;
}
.em-2 h5{
  color: #3ebd9b;
}
.service-img img{
  width: 328px;
}
.service:hover{
  box-shadow: 0px 0px 29px 8px #93d9c6;
  cursor: pointer;
}
.results:hover{
  box-shadow: 0px 0px 29px 8px #93d9c6;
  cursor: pointer;
}
.emergency{
  background: url(/images/tooth-pain2.jpg) no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  padding-top: 26.04166666666667%;
  position: relative;
}
@media (max-width: 1280px) {
  .sec-pic{
    bottom: 28%!important;
  }
  .first-slide{
    bottom: 28%!important;
  }
  .third-pic{
    bottom: 65%!important;
  }

  .third-pic-2{
    bottom: 27%!important;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  .sec-pic{
    bottom: 42%!important;
  }
  .first-slide{
    bottom: 55%!important;
  }
  .third-pic{
    bottom: 65%!important;
  }

  .third-pic-2{
    bottom: 34%!important;
  }
}
@media (min-width: 1440px) and (max-width: 1680px) {
  .sec-pic{
    bottom: 44%!important;
  }
  .first-slide{
    bottom: 60%!important;
  }
  .third-pic{
    bottom: 69%!important;
  }

  .third-pic-2{
    bottom: 40%!important;
  }
}
.service-img img{
  width: inherit;
}
@media (min-width: 482px) and (max-width: 900px) {
  .apBtn {
    margin: auto;
    margin-top: 10px;
    height: 20px;
    border-radius: 8px;
    background-color: #767272;
    color: #f9f9f9;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  h5{
    font-size: 10px;
    color: #3ebd9b;
  }
  .em-2{
    font-size: 19px;
    color: #3ebd9b;
  }
  .book{
    text-align: center;
    float: none;
    margin: 0px;
  }
  .mob-request{
    display: block;
    background: #3ebd9b;
  }
  .request{
    display: none;
  }
  .menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    transition: 0.4s;
  }
  .mobile-banner {
    display: inline;
  }
  .banner {
    display: none;
  }
  .about {
    background: #3ebd9c;
  }
  .about-content {
    text-align: center;
    color: white;
  }
  .aboutUs {
    display: none;
  }
  .menu .close {
    display: block;
  }
  h1 {
    font-size: 15px;
  }
  .logo {
    display: none;
  }
  .mob-logo {
    text-align: center;
    width: 100%;
    margin-top: -2px;
    display: block;
  }
  .logo1 {
    width: 70px;
    height: 70px;
  }
  .title-logo {
    width: 170px;
    height: 30px;
  }
  .navBtn {
    margin-top: -8px;
    color: #07bc83;
  }
  .bl {
    border-left: 0px solid #ffffff;
  }
  .doctor{
    height: auto;
  }
}

@media (min-width: 300px) and (max-width: 481px) {
  h5{
    font-size: 5px;
    color: #3ebd9b;
  }
  .em-2{
    font-size: 10px;
    color: #3ebd9b;
  }

  .apBtn {
    margin: auto;
    margin-top: 10px;
    height: 14px;
    border-radius: 8px;
    background-color: #767272;
    color: #f9f9f9;
    font-size: 6px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .book{
    text-align: center;
    float: none;
    margin: 0px;
  }
  .mob-request{
    display: block;
    background: #3ebd9b;
  }
  .request{
    display: none;
  }
  .menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    transition: 0.4s;
  }
  .mobile-banner {
    display: inline;
  }
  .banner {
    display: none;
  }
  .about {
    background: #3ebd9c;
  }
  .about-content {
    text-align: center;
    color: white;
  }
  .aboutUs {
    display: none;
  }
  .menu .close {
    display: block;
  }
  h1 {
    font-size: 15px;
  }
  .logo {
    display: none;
  }
  .mob-logo {
    text-align: center;
    width: 100%;
    margin-top: -2px;
    display: block;
  }
  .logo1 {
    width: 70px;
    height: 70px;
  }
  .title-logo {
    width: 170px;
    height: 30px;
  }
  .navBtn {
    margin-top: -8px;
    color: #07bc83;
  }
  .bl {
    border-left: 0px solid #ffffff;
  }
  .doctor{
    height: auto;
  }
}
@media (max-width: 1680px) {
  .emergency{
    padding-top: 27%
  }
}

@media (max-width: 1510px) {
  .emergency{
    padding-top: 30%
  }
}

@media (max-width: 1350px) {
  .emergency{
    padding-top: 35%
  }
}
@media (max-width: 1121px) {
  .emergency{
    padding-top: 41%
  }
}