body {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll !important;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-auto {
    margin-left: auto !important;
}

.text-center {
    text-align: center;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.nav-item .item {
    color: #919aa3;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.br-right {
    border-right: 1px solid #919aa3;
}

.nav-item .item-right {
    color: #ffffff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
}

.nav-btn {
    box-shadow: 0 5px 20px rgba(7, 42, 68, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    color: #072a44;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    /* Text style for "GET STARTE" */
    letter-spacing: 1px;
    border: none;
    outline: none;
    height: 60px;
    padding-left: 33px;
    padding-right: 33px;
}

h1 {
    color: #171c34 !important;
    font-family: Poppins !important;
    font-size: 34px !important;
    font-weight: 400 !important;
}

hf{
    color: #171c34 !important;
    font-family: Poppins !important;
    font-size: 34px !important;
    font-weight: 400 !important;   
}

hf:after {
    content: '';
    display: block;
    width: 20%;
    height: 5px;
    background: #D4D200;
    margin-top: 8px;
    margin: auto !important;
    visibility: visible;
    animation-name: fadeInRight;
}

h2 {
    color: #919aa3 !important;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
}

h3 {
    color: #171c34 !important;
    font-family: Poppins !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    padding-top: 40px !important;
}

h4 {
    color: #919aa3 !important;
    font-family: Poppins !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

h5 {
    /* color: #171c34 !important; */
    color: #002E5D !important;
    font-family: Poppins !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    padding-top: 40px !important;
}

h6 {
    color: #586377 !important;
    font-family: Poppins !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    /* Text style for "ENTRY LEVE" */
    letter-spacing: 1px !important;
}

h7 {
    color: #919aa3;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    padding-left: 5px !important;
}

h8 {
    color: #171c34 !important;
    font-family: Poppins !important;
    font-size: 28px !important;
    font-weight: 500 !important;
}

h9 {
    color: #0074e4 !important;
    font-family: Poppins !important;
    font-size: 28px !important;
    font-weight: 500 !important;
}

h10 {
    color: #0074e4 !important;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}

h11 {
    color: #171c34;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    /* Text style for "PRODUC" */
    letter-spacing: 1px;
}

h12 {
    color: #919aa3;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

h13 {
    color: #171c34;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
}

.pic {
    fill-opacity: 1;
    stroke-width: 0;
    stroke: #000000;
    stroke-opacity: 0;
    fill: rgba(64, 199, 192, 1);
}

.logo-font {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
}

.feature-image{
    width: 100px;
    padding-top: 15px;
}
.fcard{
    /* padding-top: 20px; */
    padding-bottom: 50px;
    border-radius: 10px;
}

.fcard:hover{
    box-shadow: 0 4px 15px rgba(7, 42, 68, 0.1);
}

.top-heading {
    font-family: Poppins;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
    letter-spacing: 4px;
}

.middle-heading {
    text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
    font-family: Poppins !important;
    font-size: 44px !important;
    font-weight: 400 !important;
    color: white;
}

.btn {
    height: 40px;
    box-shadow: 0 10px 50px rgba(7, 42, 68, 0.12);
    background-color: white;
    cursor: pointer !important;
    color: black;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    border-radius: 8px;
    z-index :10;
}

.btn:hover {
    background: #D4D200 !important;
    color: black;
}

.img-box {
    padding: 0;
    background: url(../images/top-bg.png) no-repeat;
    background-size: cover;
    height: 440px;
}

.header {
    background: #002E5D;
}

.top-content {
    overflow: hidden !important;
    padding-bottom: 150px;
    position: relative;
    /* background: linear-gradient(#002E5D,white); */
    background: #002E5D;
}

.section {
    padding-top: 100px;
}

.grow-section{
    /* background: linear-gradient(#002E5D,white); */
}

.section h1:after {
    content: '';
    display: block;
    width: 90%;
    height: 5px;
    background: #D4D200;
    margin-top: 8px;
    visibility: visible;
    animation-name: fadeInRight;
}

.footer {
    /* border-radius: 100px; */
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    margin-top: 50px;
    padding-top: 50px;
    background-image: linear-gradient( to top, rgba(255, 255, 255, 0) 0%, #ebeef0 100%);
}

.footer-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.footer-icon:hover {
    background: black !important;
}

.footer-icon-up {
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.input-box {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-family: Poppins;
    line-height: 1.5;
    color: #002E5D;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: none;
    border: 2px solid #002E5D;
    outline: none;
    margin-top: 10px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

.particle{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index : 5;
    /* background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.1)); */
    /* background: linear-gradient(#002E5D,white); */
}

a:hover {
    color: #D4D200 !important;
    text-decoration: none !important;
}

a:active {
    color: #D4D200 !important;
    text-decoration: none !important;
}

a.active {
    color: #D4D200 !important;
    text-decoration: none !important;
}

label {
    color: #919aa3;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    padding-right: 17px;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar>.container,
.navbar>.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

@media (max-width: 575.98px) {
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-sm .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
    .navbar-expand-sm .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

@media (max-width: 767.98px) {
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-md .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
    .navbar-expand-md .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
    .navbar-collapse {
        display: block;
    }
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-xl .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler {
        display: none;
    }
    .navbar-expand-xl .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

.navbar-expand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar-expand .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.navbar-expand .navbar-toggler {
    display: none;
}

.navbar-expand .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
    color: #fff;
}

.navbar-dark .navbar-text a:focus,
.navbar-dark .navbar-text a:hover {
    color: #fff;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.backgrounds {
    max-width: 100%;
    overflow: hidden !important;
    min-height: 1px;
    height: auto;
    top: 0;
}

.pricing-bg-1 {
    position: absolute;
    z-index: -1;
    right: -115px;
    width: 200px;
}

.pricing-bg-2 {
    position: absolute;
    z-index: -1;
    bottom: -223px;
    left: -130px;
    width: 150px;
}

.top-bg-1 {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 500px;
    height: 500px;
    top: -20px;
    right: -307px;
}

.top-bg-2 {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 180px;
    height: 225px;
    bottom: -150px;
    left: -135px;
}

.img-box-parent {
    height: 480px;
    background: white;
    padding-top: 10px;
    box-shadow: 0 4px 15px rgba(7, 42, 68, 0.1);
    border-radius: 10px;
}

.bgs {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    .top-bg-1 {
        position: absolute;
        z-index: -1;
        width: 934px;
        height: 904px;
        top: -70px;
        right: -310px;
        overflow: hidden;
    }
    .top-bg-2 {
        position: absolute;
        z-index: -1;
        width: 367px;
        height: 454px;
        bottom: -350px;
        left: -235px;
        overflow: hidden;
    }
    .pricing-bg-1 {
        position: absolute;
        z-index: -1;
        width: 360px;
        right: -115px;
    }
    .pricing-bg-2 {
        position: absolute;
        z-index: -1;
        left: -290px;
        bottom: -223px;
        width: 376px;
    }
}

@media (max-width:481px)  {
    .btn{
        width: 80%;
    }

    .contact{
        padding-top: 50px;
    }
}